@{
    ViewBag.Title = "About Page";
}


<style>

</style>

<div class="row down">
    <div class="col-md-12">

        <h1>Staff</h1>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Personal</div>
            <div class="panel-body">

            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Förnamn</th>
                        <th>Efternamn</th>
                    </tr>
                </thead>
                <tr>
                    <th scope="row"> 1</th>
                    <td>Patrik</td>
                    <td>Emilsson</td>
                </tr>

                <tr>
                    <th scope="row"> 2</th>
                    <td>Rasmus</td>
                    <td>Josefsson</td>
                </tr>

                <tr>
                    <th scope="row"> 3</th>
                    <td>Martin</td>
                    <td>Matsson</td>
                </tr>

                <tr>
                    <th scope="row"> 4</th>
                    <td>Vidar</td>
                    <td>Asp Johansson</td>
                </tr>
            </table>

        </div>

    </div>


