body {

    background: #f7f7f7;

}



.content{
    padding-top: 50px;
}





/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

  .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


  .text-danger {
      color: #f71f1b;
  }


  .start-banner {  
    margin-top: 50px;
    margin-bottom: 40px;
  }


  .table {
      background-color: white;
  }



      blockquote {
        border-left: 0;
        padding: 0.5em 5px;
        quotes: "\201C" "\201D" "\2018" "\2019";
    }


    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.4em;
    }