<style>
    #footer {
        background: #131313 none repeat scroll 0% 0%;
        border-top: 5px solid #47a4da;
        clear: both;
        color: #AAA;
        display: block;
        margin-top: 60px;
    }

    #footer .footertitle {
        border-bottom: medium none;
        margin: 0px;
        padding: 0px 0px 15px;
    }

    #footer h4 { color: #FFF; }

    #footer ul {
        list-style: outside none none;
        margin-bottom: 10px;
        padding: 0;
    }

    #footer li {
        margin: 0px;
        margin-left: 5px;
        padding: 7px 0px;
    }

    #footer li a { color: #DDD; }




    #sub-floor {
        background: black none repeat scroll 0% 0%;
        color: #AAA;
        padding: 10px 0px;
    }


    .fa-github-square {
        color: #d0d0d0;
        font-size: 80px;
        margin-right: 10px;
    }



    a .fa-github-square:hover {

        -webkit-transition: color 0.2s;
        color: white;
        transition: color 0.2s;
    }



  

    .social-media-icons { margin-top: 40px; }

    .left-side-block { margin: 0 50px; }

		
   

    @@media (max-width: 480px) {
        blockquote:before { left: -30px; }
    }

	 
</style>

<footer id="footer" class="clearfix">

    <div class="container">
        <div id="footer-wrapper">
            <div class="row">
                <div class="col-md-12">


                    <div class="col-xs-12">
                        <div id="" class="social-media-icons text-center">
                            <a href="https://github.com/rajjejosefsson/vardkollen" target="_">
                                <i class="fa fa-github-square" aria-hidden="true"></i>
                            </a>

                            <blockquote> It's a new carecheck everyday</blockquote>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="sub-floor">
        <div class="container">
            <div class="row">
                <div class="col-md-12 copyright">
                    <p class="text-center">Copyright Team Vård © 2016</p>
                </div>
            </div>
        </div>
    </div>

</footer>

@section scripts
{


}