body {

    background: #f7f7f7;
}
.content{
    padding-top: 50px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

  .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }





  .start-banner {  
    margin-top: 50px;
    margin-bottom: 40px;
  }


  .table {
      background-color: white;
  }