<style>
    #footer {
        border-top: 5px solid #47a4da;
        background: #131313 none repeat scroll 0% 0%;
        padding-top: 30px;
        margin-top: 60px;
        clear: both;
        color: #AAA;
        display: block;
   
    }

       #footer .footertitle {
            margin: 0px;
            padding: 0px 0px 15px;
            border-bottom: medium none;
        }

        #footer h4 {
            color: #FFF;
        }

        #footer ul {
            list-style: outside none none;
            padding: 0;
            margin-bottom: 10px;
        }

        #footer li {
            padding: 7px 0px;
            margin: 0px;
            margin-left: 5px;
        }

            #footer li a {
                color: #DDD;
            }




    #sub-floor {
        color: #AAA;
        background: black none repeat scroll 0% 0%;
        padding: 10px 0px;
    }


    .fa-github-square {
        font-size: 80px;
        margin-right: 10px;
        color: #d0d0d0;
    }



       a .fa-github-square:hover {

        color: white;
        -webkit-transition: color 0.2s;
	    transition: color 0.2s;

    }



       blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 10px;
    border-left: 0;
    }


       blockquote:before {
	display: block;
	content: "\201C";
	font-size: 400%;
	/* to be avsolute, its parrent needs to be relative */
	position: absolute;
	top:  5px;
	left: -5px;
}


     .social-media-icons {
         margin-top: 40px;
     }

     .left-side-block {
         margin: 0 50px;
     }

        


     
</style>

<footer id="footer" class="clearfix">

    <div class="container">
        <div id="footer-wrapper">
            <div class="row">

                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="left-side-block">
                    </div>
                </div>


                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div id="" class="social-media-icons text-center">
                        <a href="https://github.com/rajjejosefsson/vardkollen"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                        <blockquote> It's a new carecheck everyday</blockquote>
                    </div>
                </div>


                <div class="col-sm-4 col-md-4">

                    <div class="pull-right">
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div id="sub-floor">
        <div class="container">
            <div class="row">
                <div class="col-md-12 copyright">
                    <p class="text-center">Copyright Team Vård © 2016</p>
                </div>
            </div>
        </div>
    </div>

</footer>

@section scripts
{


}
