<style>
    #footer {
        border-top: 5px solid #47a4da;
        background: #131313 none repeat scroll 0% 0%;
        padding-top: 30px;
        margin-top: 60px;
        clear: both;
        color: #AAA;
        display: block;
   
    }

       #footer .footertitle {
            margin: 0px;
            padding: 0px 0px 15px;
            border-bottom: medium none;
        }

        #footer h4 {
            color: #FFF;
        }

        #footer ul {
            list-style: outside none none;
            padding: 0;
            margin-bottom: 10px;
        }

        #footer li {
            padding: 7px 0px;
            margin: 0px;
            margin-left: 5px;
        }

            #footer li a {
                color: #DDD;
            }

    #sub-floor {
        color: #AAA;
        background: black none repeat scroll 0% 0%;
        padding: 10px 0px;
    }


    .fa-facebook-square,
    .fa-github-square,
    .fa-twitter-square {
        font-size: 40px;
        margin-right: 10px;
    }

    .fa-facebook-square {
        color: #3b5998;
    }

    .fa-twitter-square {
        color: #1da1f2;
    }

     .fa-github-square {
        color: #d0d0d0;
    }

     .social-media-icons {
         margin-top: 40px;
     }

     .left-side-block {
         margin: 0 50px;
     }

        


     
</style>

<footer id="footer" class="clearfix">
   
        <div class="container">
            <div id="footer-wrapper">
                <div class="row">

                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="left-side-block">
                            <h4 class="footertitle">Länkar:</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-home fa-fw"></i>Hem</a></li>
                                <li><a href="#"><i class="fa fa-link"></i>Om oss</a></li>
                                <li><a href="#"><i class="fa fa-envelope fa-fw"></i>Kontakta oss</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div id="" class="social-media-icons text-center">
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter-square"></i></a>
                            <a href="https://github.com"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                        </div>
                    </div>


                    <div class="col-sm-4 col-md-4">
                        <!-- Empty for now -->
                    </div>

                </div>

            </div>

        </div>


        <div id="sub-floor">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 copyright">
                        <p class="text-center">Copyright Team Vård © 2016</p>
                    </div>
                </div>
            </div>
        </div>
  
</footer>

@section scripts
{


}
