@{
    ViewBag.Title = "About Page";
}


<style>
    .jumbotron{
        margin-top:30px;
    }
</style>



<div class="container">

   

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h1>Vårdkollen, CareCheck</h1>
                <p>Bild här?</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <h2>Om oss/Om tjänsten?</h2>
                    <p>E-Tjänst för att underlätta arbetet för Hemtjänsten samt ge anhöriga ett snabbt och enkelt enkelt sätt att få en överblick av vården/tjänsterna som ges.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    
                </div><!--/.col-xs-6.col-lg-4-->
                
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
</div>
</div>