@{
    ViewBag.Title = "About Page";
}


<style>
.down{
    margin-top:20px;
}
</style>

<div class="row down">
    <div class="col-md-12">

        <h1>Aboutt</h1>
        <div></div>

    </div>

</div>