@{
    ViewBag.Title = "Home Page";
}


<style>
    body {
        float: left;
        width: 100%;
        padding: 5px;
        background: gainsboro;
    }


    .login-form {
        background-color: #ffffff;
        margin-top: 100px;
        padding: 15px;
        width: 800px;
        height: 320px;
        box-shadow: 0 3px 3px -3px #777;
        border-radius: 10px;
        margin-bottom: 300px;
    }


    .btn {
        background-color: #ffc444;
        border-color: #f0b544;
        color: #000;
        font-weight: bold;
        margin-top: 10px;
    }

        .btn:hover {
            background-color: #e1a740;
            transition: all 50ms ease-in;
        }


        .login-form form {
            float: right;
              margin-right: 60px;
        }
</style>


<div class="login-form">
    <form>
        <p> Register now! </p>
        <hr>
        <div class="form-group">
            <input type="email" id="email" placeholder="Email" class="form-control">
        </div>

        <div class="form-group">
            <input type="password" id="password" placeholder="Password" class="form-control">
        </div>

        <div class="form-group">
            <input type="password" id="confirm-password" placeholder="Confirm Password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
