@{
    ViewBag.Title = "Personal";
}


<link href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<style>
    .panel-default {
        margin-top: 20px;
    }
</style>



<div class="row">
    <div class="start-banner">
        <h1 class="text-center">Personal</h1>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="exampleInputName2">Förnamn</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Darth">
            </div>
            <div class="form-group">
                <label for="exampleInputLastname2">Efternamn</label>
                <input type="text" class="form-control" id="exampleInputLastname2" placeholder="Vader">
            </div>
            <div class="form-group">
                <label for="exampleInputBirthDate2">Personnummer</label>
                <input type="text" class="form-control" id="exampleInputBirthDate2" placeholder="ÅÅ/MM/DD-XXXX">
            </div>
            <button type="submit" class="btn btn-default btn-success">Lägg till</button>
        </form>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Patienter</div>
            <div class="panel-body">
                <!-- Table -->
                <table id="myTable" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Förnamn</th>
                            <th>Efternamn</th>
                        </tr>
                    </thead>
                    <tr>
                        <th>1</th>
                        <td>Patrik</td>
                        <td>Emilsson</td>
                    </tr>

                    <tr>
                        <th>2</th>
                        <td>Rasmus</td>
                        <td>Josefsson</td>
                    </tr>

                    <tr>
                        <th>3</th>
                        <td>Martin</td>
                        <td>Matsson</td>
                    </tr>

                    <tr>
                        <th>4</th>
                        <td>Vidar</td>
                        <td>Asp Johansson</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>




<div style="height: 150px"></div>

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({

            });
        });
    </script>
}