@{
    ViewBag.Title = "About Page";
}


<style>

    .app-checkbox {
        font-size: 20px;
    }

    .list-group {
            width: 400px;
    }

    input[type="checkbox"] {
        margin-right: 10px;
        width: 20px; /*Desired width*/
        height: 20px; /*Desired height*/
    }

    


</style>

<div class="row">
    <div class="col-xs-12 col-md-12">

        <h1>Task</h1>
        <div class="task-list">
            <ul class="list-group center-block">
                <li class="list-group-item">
                    <input type="checkbox" value="" class="pull-left">
                    <p>Mata grisen</p>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" value="" class="pull-left">
                    <p>Tvätta</p>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" value="" class="pull-left">
                    <p>Damsuga</p>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" value="" class="pull-left">
                    <p>Fyllt på kylskåp</p>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" value="" class="pull-left">
                    <p>Matat Katten</p>
                </li>

            </ul>

        </div>

    </div>

</div>