@model vardkollen.ViewModels.TasksViewModel
@{
    ViewBag.Title = "About Page";
}


<style>
    .dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }


      .Push{
        height: 152px;
    }

    @@media  (min-width: 2560px) {
    .Push {
        height:477px;
    }
}
</style>

<div class="row">

    <div class="start-banner text-center">
        <h1 class="">Uppgifter</h1>
        <h4>Hej @Model.Employee.FirstName</h4>
        <p>Här finns alla dina patienter som du har på ditt schema</p>
        <div style="text-align: center">
            <div class="dropdown form-group">
                <select name="myFormInputName" id="myFormInputName" class="form-control">
                    @foreach (var schedule in Model.Schedules)
                    {
                        <option value="@(schedule.Id)">@schedule.Patient.FirstName @schedule.DateTime</option>
                    }
                </select>
            </div>
        </div>
    </div>


    <div id="partialPlaceHolder" style="display: none;"></div>

</div>



<div class="Push"></div>






@section scripts {
    <script>

        function renderPatient(patientId) {
            /* Request the partial view with .get request. */
            $.get('/Task/MyAction/' + patientId, function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $('#partialPlaceHolder').html(data);
                /* little fade in effect */
                $('#partialPlaceHolder').fadeIn('fast');
            });
        }



        $(document).ready(function () {

            // Initial patient to render
            var patientId = $("#myFormInputName").val();
            renderPatient(patientId);



            // Select patient to show
            $("#myFormInputName").on('change', function () {
                var patientId = $(this).val();
                renderPatient(patientId);
            });
        });
    </script>
}













