@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

</style>

<div class="row down">
    <div class="col-sm-12">

<h1>Anhöriga</h1>

 </div>
     </div>
