@{
    ViewBag.Title = "About Page";
}


<style>
    .jumbotron {
        margin-top: 30px;
        background-image: url(../../Content/Images/happyman.jpg);
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
    }

        .jumbotron h1 {
            position: absolute;
            bottom: 25px;
            left: 25px;
            font-size: 50px;
            opacity: 0.8;
            color: white;
            text-shadow: black 0.3em 0.3em 0.3em;
        }
</style>





<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Vårdkollen, CareCheck</h1>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>





<div class="row">
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Om oss/Om tjänsten?</h2>
            <p>E-Tjänst för att underlätta arbetet för Hemtjänsten samt ge anhöriga ett snabbt och enkelt enkelt sätt att få en överblick av vården/tjänsterna som ges.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
