<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>MgmtSvcCloud</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carecheck.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carecheck.scm.gear.host:443</MSDeployServiceURL>
    <DeployIisAppPath>carecheck</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$carecheck</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CareCheckDb" Order="1" Enabled="False">
          <Destination Path="Data Source=carecheckdb1;Initial Catalog=mssql3.gear.host;User ID=carecheckdb1;Password=Sm7IC7V-A!ah" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CareCheck.DataAccess.CareCheckDbContext, CareCheck.DataAccess" MigrationConfiguration="CareCheck.DataAccess.Migrations.Configuration, CareCheck.DataAccess" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CareCheckDb-Web.config Connection String">
      <ParameterValue>Data Source=carecheckdb1;Initial Catalog=mssql3.gear.host;User ID=carecheckdb1;Password=Sm7IC7V-A!ah</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CareCheckDb" />
  </ItemGroup>
</Project>