@{
    ViewBag.Title = "Om oss";
}

<style>
    .jumbotron {
        margin-top: 30px;
        background-image: url(../../Content/Images/happyman.jpg);
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
    }

        .jumbotron h1 {
            position: absolute;
            bottom: 25px;
            left: 25px;
            font-size: 50px;
            opacity: 0.8;
            color: white;
            text-shadow: black 0.3em 0.3em 0.3em;
        }


    .about-us-info p {
        font-size: 16px;
    }

    .avatar {
        height: 132px;
        width: 132px;
        background-size: cover;
        border-radius: 50%;
        border: 5px solid #eee;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .person-item {
        min-height: 300px;
    }

        .person-item h3,
        .person-item p {
            text-align: center;
        }



        .person-item p {
            font-weight: lighter;
            line-height: 1;
            color: #999999;
            font-size: 16px;
        }


    .images-section {
        margin: 90px 0;
    }


    @@media (max-width: 600px) {
        .person-item {
            min-height: 304px;
        }
    }
</style>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Vårdkollen, CareCheck</h1>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8 about-us-info">
            <h2>Om tjänsten</h2>
            <p>Carecheck är till för att underlätta arbetet för hemtjänsten samt ge anhöriga ett snabbt och enkelt enkelt sätt att få en överblick av vården/tjänsterna som ges. Vår ambition är att arbetet ska kunna utföras på ett smidigare tillvägagångssätt där nöjdheten hos de vårdtagande är i fokus. Vi erbjuder även möjligheten för de anhöriga att på ett enkelt sätt kunna följa den vårdtagandes vardag med den hjälp denne får.</p>
            <p>Carecheck är skapad av studenter från Högskolan Väst, som läser programmet "Systemutveckling - IT och samhälle" med programmering och utveckling som inriktning.</p>
            <h1 class="text-center">
                <small>- It's a new carecheck everyday</small>
            </h1>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<div class="row images-section">
    <div class="col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-3 person-item">
            <img src="~/Content/Images/Vidar.jpg" alt=".." class="avatar" />
            <h3>Vidar Asp Johansson</h3>
            <p>Kaffekokare & Skitsnackare</p>
            <p>Vet hur man kokar perfekt bulgur</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 person-item">
            <img src="~/Content/Images/Patrik.jpg" class="avatar" alt=".." />
            <h3>Patrik Emilsson</h3>
            <p>AKA FitnessPatrik</p>
            <p>Har excellenta recept på</p>
            <p>snickerskakor med proteinpulver</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 person-item">
            <img src="~/Content/Images/Martin.jpg" class="avatar" alt=".." />
            <h3>Martin Matsson</h3>
            <p>Kung</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 person-item">
            <img src="~/Content/Images/Rasmus.jpg" class="avatar" alt=".." />
            <h3>Rasmus Josefsson</h3>
            <p>Kodmästare</p>
        </div>
    </div>
</div>
